apiVersion: "nais.io/v1alpha1"
kind: "Application"
metadata:
  name: veilarbfilter
  namespace: obo
  labels:
    team: obo
spec:
  image: {{image}}
  port: 8080
  liveness:
    path: /veilarbfilter/internal/health/liveness
    initialDelay: 60
    timeout: 10
  readiness:
    path: /veilarbfilter/internal/health/readiness
    initialDelay: 60
    timeout: 10
  gcp:
    sqlInstances:
      - type: POSTGRES_15
        tier: db-custom-1-3840
        databases:
          - name: veilarbfilter
            envVarPrefix: DB
  azure:
    application:
      allowAllUsers: true
      enabled: true
      claims:
        extra:
          - NAVident
  accessPolicy:
    inbound:
      rules:
        - application: veilarbportefoljeflatefs
          namespace: obo
        - application: veilarbpersonflate
          namespace: poao
    outbound:
      rules:
        - application: poao-tilgang
          namespace: poao
        - application: veilarbveileder
          namespace: obo
        - application: logging
          namespace: nais-system
      external:
        - host: team-obo-unleash-api.nav.cloud.nais.io
  resources:
    limits:
      cpu: 1500m
      memory: 2Gi
    requests:
      cpu: 500m
      memory: 1Gi
  ingresses:
    - https://veilarbfilter.intern.nav.no
  webproxy: true
  observability:
    autoInstrumentation:
      enabled: true
      runtime: java
    logging:
      destinations:
        - id: elastic
        - id: loki
  secureLogs:
    enabled: true
  replicas:
    min: 2
    max: 2
    cpuThresholdPercentage: 50
  prometheus:
    enabled: true
    path: /veilarbfilter/internal/prometheus
  leaderElection: true
  env:
    - name: POAO_TILGANG_URL
      value: http://poao-tilgang.poao
    - name: POAO_TILGANG_SCOPE
      value: api://prod-gcp.poao.poao-tilgang/.default
    - name: VEILARBVEILEDER_URL
      value: http://veilarbveileder.obo
  envFrom:
    - secret: veilarbfilter-unleash-api-token
